/* import custom bangla font */
/* @import url('./../fonts/solaimanLipi/stylesheet.css'); */
@import url('https://fonts.maateen.me/solaiman-lipi/font.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* decelar css custom variable */
:root{
    --bs-purpil: #683091;
    --green-light:#6DB700;
    --bs-font-solaimanlipi:'SolaimanLipi', 'Roboto', 'FontAwesome', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
/*------------------------ */
*,html,body,h1,h2,h3,h4,h5,h6,p{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
h1,
h2,
h3,
    {
    font-family: 'SolaimanLipi', 'Roboto', sans-serif !important;
}
h2 {
    background-color: #6DB700;
    padding: 5px;
    font-size: 22px !important;
    text-align: center;
    color: #fff !important;
    margin-top: 0px !important;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

}


/* import solaimanlipi bangla font */
body{
    background: url("./bg_img/body_bg.gif");
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: auto;
    background-position:center center;
    height: 100vh;
    font-family: var(--bs-font-solaimanlipi) !important;
    
}

/* for top header color */
.header-top .top-header-address{
    background-color: var(--bs-purpil);
    font-family: var(--bs-font-solaimanlipi);
}

/* slider image  */
#sliderDiv .slider_container .sliderItems img{
  width: 100%;
  height: 100%;
}
#sliderDiv{
  position: relative;
}
#sliderDiv .slider_container .sliderItems{
  width:100%;
  height:350px;
  position:absolute;
  opacity:0; 
  transition:all 2s;
}
#sliderDiv .slider_container .sliderItems.active{
  opacity:1;
}
/* top header slider text */
.sliderDivText .collegeAddressName .collegeName h1{
  color:#FFFF04 !important;
  line-height: 1;
  font-weight: 500;
  font-family: var(--bs-font-solaimanlipi);
  text-shadow: -1px -1px 10px #333,
                1px -1px 10px #333,
                -1px 1px 10px #333, 
                 1px 1px 10px #333;
}
.sliderDivText .collegeAddressName .collegeName small{
  font-size: 65%;
  font-weight: 400;
  line-height: 1;
  font-family: var(--bs-font-solaimanlipi);
}

/* start main body */
/* ----- start main body notice board design ---------*/
.main_container .main_body .notice_board_wiget{
  border:1px solid var(--green-light);
  border-radius: 4px;
  background:linear-gradient(0deg, rgba(237, 237, 237, 1) 0%, rgba(255, 255, 255, 1) 100%);
  margin-bottom: 20px;
}
.notice_board_wiget p{
  font-family: var(--bs-font-solaimanlipi);
}
.main_container .main_body .notice_board_title{
  background: var(--green-light);
  font-family: var(--bs-font-solaimanlipi);
  font-size: 18px;
  margin-bottom: 5px;
}
.main_container .main_body .notice_board_list li div{
  font-family: var(--bs-font-solaimanlipi);
  font-size: 18px ;
}
.main_container .main_body .notice_board_wiget .notice_add_date{
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--green-light);
  padding: 2px 5px;
  color:#fff;
  text-align: center;
}
.main_container .main_body .notice_board_list .noticeFile{
  font-family: var(--bs-font-solaimanlipi);
  font-size: 16px;
}
/* ---------------------notice page button -------------------------- */
.main_container .main_body .notice-archive{
  clear:both;
  float: right;
  margin-top: 18px;
}
.main_container .main_body .notice-archive a{
  border: solid 1px #6EB701;
  padding: 5px 12px;
  border-radius: 3px;
  font-family: var(--bs-font-solaimanlipi);
  font-size: 17px;

  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.main_container .main_body .notice-archive a:before{
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #2BC946;
  height: 4px;
  transition-property: left, right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.main_container .main_body .notice-archive a:hover:before{
  left:0;
  right:0;
}

/* ----------------start two colmus wiget ---------------------- */
.techedu_two_colums{
  border: solid 1px #6DB700;
  border-radius: 5px;
  padding-top: 15px;
  margin: 20px 0px;
  overflow: hidden;
}
.single-two-column-widget{
  border: solid 1px #6DB700;
  padding: 5px;

  box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
  margin-bottom: 15px;
  border-radius: 4px;
  position: relative;
  font-family: var(--bs-font-solaimanlipi);
  transition:all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.techedu_two_colums h2{
  background-color: #6DB700;
  padding: 5px;
  font-size: 21px !important;
  text-align: center;
  color: #fff !important;
  margin-top: 0px !important;
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.techedu_two_colums .widget-image{
  float: left;
  width: 100px;
  height: 100px;
  margin: 5px 10px 40px 0px
}
.techedu_two_colums .widget-image img{
  width: 100px;
  height: 100px;
}
.techedu_two_colums .widget-links{
  margin-top: 14px;
}
.techedu_two_colums ul li{
  padding:5px;
}
.techedu_two_colums .fa-check-circle:before{
  color: #2BC946;
  border-radius: 50%;
  font-size: 14px;
  margin-right: 5px;
}
.techedu_two_colums li a{
  font-size: 17px;
  font-family: var(--bs-font-solaimanlipi);
}
.single-two-column-widget:hover{
  transform: scale(1.10, 1.10);
}
/* ---------------end single to column widget ---------------- */

/* ---------------start main sidebar ----------------- */
.techedu-main-sidebar .single_widget{
  padding:5px;
  border:solid 1px #6DB700;
  margin-bottom: 15px;
  border-radius: 5px;
}
.techedu-main-sidebar h2{
  font-family: var(--bs-font-solaimanlipi);
  background-color: #6DB700;
  padding: 5px;
  font-weight: normal;
  font-size: 21px !important;
  text-align: center;
  color: #fff !important;
  margin-top: 0px !important;
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.techedu-main-sidebar .single_widget > div{
  width: 100% !important;
}

.profile-photo img{
  width: 100%;
  height: auto;
}
.img-hover-zoom{
  height: auto;
  overflow: hidden;
}
.img-hover-zoom img{
  transition: .5s ease-in-out;
  overflow: hidden;
}
.img-hover-zoom:hover img{
  transform: scale(1.3);
}
/* ------- profile details teacher -------- */
.profile-details{
  padding: 5px;
  background:#ddd;
  position: relative;
  text-align: center;
  margin-top: 5px;
  word-wrap: break-word;
}

/* --------- important link's ------------ */
.aside-widget-link{
  margin-top: 10px;
}
.aside-widget-link li{
  font-family: var(--bs-font-solaimanlipi);
  list-style: none;
  padding: 5px;
}
.aside-widget-link a{
  font-size: 17px;
  font-family: var(--bs-font-solaimanlipi);
}
.aside-widget-link i.fas.fa-check-circle{
  color:#2BC946;
  font-size: 14px;
  margin-right:2px;
  margin-left: 5px;
  border-radius: 50px;
  
}
.aside-widget-link .hvr-icon-back{
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.1s;
  border-bottom: dotted 1px #ddd;
  display: block;
}
.aside-widget-link .hvr-icon-back .hvr-icon{
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
}
.aside-widget-link .hvr-icon-back:hover .hvr-icon{
  transform: translateX(-4px);
}
/* google maps  */
.gMaps{
  height: 450px;
}
.gMaps iframe{
  width: 100%;
  height:450px;
}
/* footer */
.techedu-footer{
  background-color: #EBEBEB;
  border-top: solid 15px #683091;
  margin: auto;
  padding: 15px 0px;
}
/* page content */
.page-content {
    margin-top: 15px;
}

.post-thumbnail {
    margin-right: 15px;
    float: left;
    width: 250px;
    height: auto;
    border: solid 1px #ddd;
    padding: 5px;
    margin-top: 15px;
}

.post-thumbnail img {
    border-radius: 5px;
    width: 100%;
}
/* image gallery */
.single-fancybox{
  border: solid 1px #619514;
  box-shadow: 5px 5px 10px #ddd;
  width: 92%;
  height: 90%;
}
.single-fancybox img{
  width: 100%;
  height: 100%;
}

/* data Table cu */